.signUpContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUpHeading{
  margin-top: 30px;
  margin-bottom: 20px;
}
span{
  color: blue;
}

.signUpBtn{
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
